/* 
Modelo de caixa
*/
.conteudo {
    border: 1px solid red;
    width: 150px;
    /* padding aplica espaçamento interno */
    /* o padding é contabilizado no tamanho do elemento, nesse casoo 150px + 50px */
    /* padding-top: 50px;  */
    /* padding-right: 50px; */
    /* padding-bottom: 50px;  */
    /* padding-left: 50px; */
    /* margin aplica espaçamento externo */
    /* margin-top: 10px; */
    /* margin-right: 50px; */
    /* margin-bottom: 50px; */
    /* margin-left: 5px; */
    /* aplicar padding/margin em uma linha -> top right bottom left */
    /* padding: 20px 20px 15px 10px; */
    /* margin: 20px 30px 5px 50px; */
    /* top = right = bottom = left = 10px */
    /* padding: 10px; */
    /* margin: 10px; */
    /* aplicando com apenas dois valores */
    /* top = bottom = 20px, right = left = 50px */
    /* padding: 20px 50px; */
    margin: 20px 50px;
}

.conteudo2 {
    border: 1px solid black;
    width: 150px;
    margin: 10px
}

/* 
Noticia
*/

#noticia {
    background: gray;
    padding: 10px;
    border: 1px solid black;
}

h2 {
    /* border: 1px solid red; */
    margin: 0px;
}

/* Elementos flutuantes */
/* float permite criar um fluxo diferenciado do padrão a direita ou esquerda */
/* deve verificar se há espaço para o elemento flutuar */
#principal{
    border: 5px solid gold;
    background: green;
}
.content{
    border: 1px solid black;
    background: blue;
    width: 150px;
    height: 150px;
    float: right;
    margin: 20px;
}

.content1{
    border: 1px solid black;
    background: gray;
    width: 100px;
    height: 100px;
    float: right;
}

.content2{
    border: 1px solid black;
    background: red;
    width: 200px;
    height: 200px;
    margin: 20px;
    /*left right none */
    float: right;
}

.clear{
    /* limpa o fluxo flutuante */
    /*left right both none */
    clear: both;
}

/* Elementos flutuantes na prática */

body {
    background: #f4f4f4;
}

#main {
    width: 920px;
    /* border: 1px solid red; */
}

.new {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}

.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}