/* 
Modelo de caixa
*/
.conteudo {
    border: 1px solid red;
    width: 150px;
    /* padding aplica espaçamento interno */
    /* o padding é contabilizado no tamanho do elemento, nesse casoo 150px + 50px */
    /* padding-top: 50px;  */
    /* padding-right: 50px; */
    /* padding-bottom: 50px;  */
    /* padding-left: 50px; */
    /* margin aplica espaçamento externo */
    /* margin-top: 10px; */
    /* margin-right: 50px; */
    /* margin-bottom: 50px; */
    /* margin-left: 5px; */
    /* aplicar padding/margin em uma linha -> top right bottom left */
    /* padding: 20px 20px 15px 10px; */
    /* margin: 20px 30px 5px 50px; */
    /* top = right = bottom = left = 10px */
    /* padding: 10px; */
    /* margin: 10px; */
    /* aplicando com apenas dois valores */
    /* top = bottom = 20px, right = left = 50px */
    /* padding: 20px 50px; */
    margin: 20px 50px;
}

.conteudo2 {
    border: 1px solid black;
    width: 150px;
    margin: 10px
}

/* 
Noticia
*/

#noticia {
    background: gray;
    padding: 10px;
    border: 1px solid black;
}

h2 {
    /* border: 1px solid red; */
    margin: 0px;
}

/* Elementos flutuantes */
/* float permite criar um fluxo diferenciado do padrão a direita ou esquerda */
/* deve verificar se há espaço para o elemento flutuar */
#principal{
    border: 5px solid gold;
    background: green;
}
.content{
    border: 1px solid black;
    background: blue;
    width: 150px;
    height: 150px;
    float: right;
    margin: 20px;
}

.content1{
    border: 1px solid black;
    background: gray;
    width: 100px;
    height: 100px;
    float: right;
}

.content2{
    border: 1px solid black;
    background: red;
    width: 200px;
    height: 200px;
    margin: 20px;
    /*left right none */
    float: right;
}

.clear{
    /* limpa o fluxo flutuante */
    /*left right both none */
    clear: both;
}

/* Elementos flutuantes na prática */

body {
    background: #007fc7;
}

#main {
    width: 920px;
    /* border: 1px solid red; */
}

.new {
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin: 8px;
    float: left;
}

.imagem-galeria {
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}


/* Elementos inline block */
.inline{
    border: 1px solid red;
    display: inline;
}

.block{
    border: 1px solid green;
    display: block;
}

/* Posicionamentos */

#container{
    background: #fff;
    width: 800px;
    /* utilizar auto para centralizar elemento na tela */
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

p {
    width: 300px;
}

/* Propriedades de deslocamento 
Para posicionar o elemento 
top, right, bottom, left
Valores negativos realizam o posicionamento inverso*/
/* a posição relativa tem seu seu alinhamento baseado na posição inicial do elemento*/
.relative {
    border: 1px solid red;
    position: relative;
    /* se houver valores pra top e bottom será obedecido o valor de top */
    top: -200px;
    bottom: -150px;
    /* se houver valores pra left e right será obedecido o valor de left */
    left: 350px;
    right: -150px;
}

/* a posição absoluta retira o elemento do fluxo normal do documento e não afeta os outros elementos 
a posição é calculada em relação ao container que está o elemento, se o seu container tiver uma posição senão vai ser posicionado no body
O elemento absoluto terá sempre o seu posicionamento baseado no container que tenha uma posição diferente de estática */
.absolute {
    border: 1px solid red;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 80px
}


/* a posição fixa deixa o elemento fixo em relação a janela do navegador (viewport)
o elemento não fica totalmente fixado na posição 0 do topo devido ao elemento p ter uma margem própria */
.fixed {
    border: 1px solid red;
    background: #f2f2f2;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

/* Sobrepondo elementos */
/* z-index => contexto de empilhanmento */
.materia1 {
    border: 1px solid red;
    background: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 20;
}

.materia2 {
    border: 1px solid red;
    background: green;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 10;
}

.materia3 {
    border: 1px solid red;
    background: yellow;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 160px;
    z-index: 11;
}