/* Seletor universal */
* {
    border: 1px solid red;
}

/* seletor de texto */
h1 {
    color: green;
}

/* Seletor de classe */
/* .roxo {
    color: purple;
} */
/* Seletor de classe  para um determinado elemento*/
p.roxo{
    color: purple;
}

/* Seletor de ID */
#cabecalho {
    border: 1px solid blue;
}

/* Seletor de filho */
li>a {
    color: orange;
    text-decoration: none;
}

/* Seletor descendente */
p a {
    color: green
}

/* Seletor de irmão adjacente */
h2+p{
    color: aqua;
}

/* Seletor de irmão geral */

h3~p {
    color:yellow;
    background-color: black;
}

