/* Barra de navegação vertical */
ul#navegacao-vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#navegacao-vertical a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

/* melhor quando se utiliza uma linguagem de programação */
/* a:hover, .selecionado a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
} */

ul#navegacao-vertical a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #navegacao-vertical .home a,
#sobre #navegacao-vertical .sobre a,
#servicos #navegacao-vertical .servicos a,
#noticias #navegacao-vertical .noticias a,
#contato #navegacao-vertical .contato a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

/* Barra de navegação horizontal */
ul#navegacao-horizontal {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul#navegacao-horizontal li {
    /* menos recomendado */
    /* display: inline; */
    float: left;
}

ul#navegacao-horizontal a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) repeat-y left top;
}

ul#navegacao-horizontal .primeiro a {
    background: none;
}

ul#navegacao-horizontal a:hover {
    color: #085662;
    background: #44cade;
}

#home #navegacao-horizontal .home a,
#sobre #navegacao-horizontal .sobre a,
#servicos #navegacao-horizontal .servicos a,
#noticias #navegacao-horizontal .noticias a,
#contato #navegacao-horizontal .contato a {
    color: #085662;
    background: #44cade;
}