<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout Imagens Liquidas</title>
    <link rel="stylesheet" href="./css/estilo.css">
</head>

<body>
    <div id="container">
        <div id="marca">Marca</div>
        <div id="conteudo">
            <div id="conteudo-principal">
                <h2>1- Elit irure aliqua qui excepteur.</h2>
                <div>
                    <img class="img-noticia" src="./imagens/natureza.jpg" alt="Natureza">
                </div>
                <p>Dolor deserunt incididunt culpa aute Lorem ad est irure mollit. Culpa laborum duis tempor do labore. Elit elit quis mollit fugiat nulla.</p>
                <h2>1.2- Elit irure aliqua qui excepteur.</h2>
                <p>Dolor deserunt incididunt culpa aute Lorem ad est irure mollit. Culpa laborum duis tempor do labore. Elit elit quis mollit fugiat nulla.</p>
            </div>
            <div id="conteudo-secundario">
                <h2>2- Ipsum esse ipsum fugiat ut sit dolore.</h2>
                <p>Minim consequat consectetur mollit ullamco. Sunt eiusmod enim ut incididunt occaecat. Laboris culpa magna sint consequat officia consequat. Culpa consectetur dolore aute magna labore cillum dolore qui aliquip culpa enim voluptate. Nostrud aliqua eiusmod ea eu esse incididunt elit eiusmod.</p>
            </div>
        </div>
        <div id="navegacao">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Notícias</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div id="rodape">Rodapé</div>
    </div>
</body>

</html>